*{margin:0; padding: 0;list-style: none; text-decoration: none;}
a img{border:0;}

                                                                /*页面头部*/
.header{
    width:100%;
    height:70px;
    background:#323131;
}
.header_center{
    width:1200px;
    height:70px;
    margin:0 auto;
}
.header_center ul{
    height:70px;
    float: right;
}
.header_center ul li{
    float: left;
    margin-right: 25px;
    line-height: 70px;
}
.header_center ul li a{
    font-size: 14px;
    color:#999;
}
.header_center ul li:hover a{
    color:#e6c45e;   
}

                                                                /*页面中部*/
.banner{
    width:100%;
    height:760px;
    background:#fdf8f4;
}
.banner_center{
    width:1200px;
    margin: 0 auto;
    height:760px;
    position:relative;
}
.longin_text{
    width:380px;
    background:#fff;
    position:absolute;
    top:150px;right:0;
    z-index:20;
    box-shadow: 3px 3px 9px #999; 
}
.login_text h1{
    font-size:20px;
    color:#f39108;
    width:380px;
    text-align: center;
    font-weight:500;
    margin-top: 30px;
    margin-bottom: 25px;
}
#login_user{
    width:310px;
    height:50px;
    margin-left:35px;
    margin-bottom:20px;
    border: solid 1px #dedede;
    text-indent:6px;
    outline:none;
}
#login_psd{
    width:310px;
    height:50px;
    margin-left: 35px;
    border: solid 1px #dedede;
    text-indent:6px;
    outline:none;
}
label{
    width:67px;
    height:14px;
    display:block;
    margin:3px 0 23px 35px;
    font:12px/14px "微软雅黑";
    color:#000;
}
label input{
    height:14px;
    vertical-align:middle;
    margin-right:2px;
}
label span{
    height:14px;
}
#login_button{
    height:50px;
    width:310px;
    background:#f19108;
    color:#fff;font-size: 16px;
    line-height: 50px;
    text-align: center;
    border:none;
    margin-left: 35px;
    cursor:pointer;
    margin-bottom:8px;
}
.mistake{
    display:none;
    width:278px;
    height:25px;
    padding-left:30px;
    border: 1px solid #ffac76;
    background:#ffffcf url(../img/warning.png) no-repeat left center;
    margin:3px 0 13px 35px;
    font:12px/25px "微软雅黑";
    color:red; 
}
.loginbox{
    position:relative;
}
.loginbox i{
    display:block;
    width:16px;
    height:16px;
    position:absolute;
    background:url(../img/login_04.png) no-repeat;
}
.loginbox .i1{
    background-position:0 0;
    bottom:90px;
    right:49px;
}
.loginbox .i2{
    background-position: 0 -20px;
    bottom:19px;
    right:48px;
}
.login_text .loginP2{
    margin-bottom: 30px;
    color:999;
    margin-left: 35px;
    margin-top:16px;
}


